SSOT/Jarvis 2.0 - Central Intelligence (CRUD + AI) - v2-cognito-auth.json
{
  "name": "Jarvis 2.0 - Central Intelligence (CRUD + AI)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tasks",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "id": "752da172-2509-4dd1-a302-0ecc3026ca63",
      "name": "POST /tasks (Create)",
      "webhookId": "507a1bcf-c5f4-4ddc-922a-5f0a595963ca"
    },
    {
      "parameters": {
        "httpMethod": "PATCH",
        "path": "tasks",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 544],
      "id": "cb93c568-0aeb-46b7-ac42-1793cd32ee3a",
      "name": "PATCH /tasks (Update)",
      "webhookId": "1bbc66ef-39f7-47a8-927e-0be75d136a92"
    },
    {
      "parameters": {
        "path": "tasks",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*",
          "responseHeaders": {
            "entries": [
              { "name": "Access-Control-Allow-Origin", "value": "*" },
              { "name": "Access-Control-Allow-Methods", "value": "GET, POST, OPTIONS" },
              { "name": "Access-Control-Allow-Headers", "value": "Content-Type, Authorization" }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 352],
      "id": "5be69921-5361-446f-a6f7-bdff51cbeb43",
      "name": "GET /tasks (List)",
      "webhookId": "9cede86b-8ebf-4824-a39a-08523d1e864a"
    },
    {
      "parameters": {
        "httpMethod": "DELETE",
        "path": "tasks",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 736],
      "id": "c5d6e584-6b56-4dcd-8564-67c258503125",
      "name": "DELETE /tasks",
      "webhookId": "44a83977-9b78-4ae8-9836-26e149d1e38a"
    },

    {
      "parameters": {
        "jsCode": "// ─── Auth_Validator: POST /tasks ─────────────────────────────────────────\n// Decodifica o Bearer Token JWT da Cognito e extrai o 'sub' como uid.\nconst authHeader = $input.item.json.headers?.authorization || \"\";\n\nif (!authHeader.startsWith(\"Bearer \")) {\n  return [{ json: { error: \"Unauthorized\", message: \"Token ausente ou inválido.\" } }];\n}\n\nconst token = authHeader.replace(\"Bearer \", \"\").trim();\n\ntry {\n  const payloadBase64 = token.split(\".\")[1];\n  const payloadJson = Buffer.from(payloadBase64, \"base64\").toString(\"utf-8\");\n  const payload = JSON.parse(payloadJson);\n\n  const uid = payload.sub;\n  if (!uid) throw new Error(\"sub não encontrado no token\");\n\n  return [{ json: { ...($input.item.json), uid } }];\n} catch (e) {\n  return [{ json: { error: \"Token inválido\", message: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 0],
      "id": "auth-validator-post-001",
      "name": "Auth_Validator_POST"
    },
    {
      "parameters": {
        "jsCode": "// ─── Auth_Validator: GET /tasks ──────────────────────────────────────────\nconst authHeader = $input.item.json.headers?.authorization || \"\";\n\nif (!authHeader.startsWith(\"Bearer \")) {\n  return [{ json: { error: \"Unauthorized\", message: \"Token ausente ou inválido.\" } }];\n}\n\nconst token = authHeader.replace(\"Bearer \", \"\").trim();\n\ntry {\n  const payloadBase64 = token.split(\".\")[1];\n  const payloadJson = Buffer.from(payloadBase64, \"base64\").toString(\"utf-8\");\n  const payload = JSON.parse(payloadJson);\n\n  const uid = payload.sub;\n  if (!uid) throw new Error(\"sub não encontrado no token\");\n\n  return [{ json: { ...($input.item.json), uid } }];\n} catch (e) {\n  return [{ json: { error: \"Token inválido\", message: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 352],
      "id": "auth-validator-get-002",
      "name": "Auth_Validator_GET"
    },
    {
      "parameters": {
        "jsCode": "// ─── Auth_Validator: PATCH /tasks ───────────────────────────────────────\nconst authHeader = $input.item.json.headers?.authorization || \"\";\n\nif (!authHeader.startsWith(\"Bearer \")) {\n  return [{ json: { error: \"Unauthorized\", message: \"Token ausente ou inválido.\" } }];\n}\n\nconst token = authHeader.replace(\"Bearer \", \"\").trim();\n\ntry {\n  const payloadBase64 = token.split(\".\")[1];\n  const payloadJson = Buffer.from(payloadBase64, \"base64\").toString(\"utf-8\");\n  const payload = JSON.parse(payloadJson);\n\n  const uid = payload.sub;\n  if (!uid) throw new Error(\"sub não encontrado no token\");\n\n  return [{ json: { ...($input.item.json), uid } }];\n} catch (e) {\n  return [{ json: { error: \"Token inválido\", message: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 544],
      "id": "auth-validator-patch-003",
      "name": "Auth_Validator_PATCH"
    },
    {
      "parameters": {
        "jsCode": "// ─── Auth_Validator: DELETE /tasks ──────────────────────────────────────\nconst authHeader = $input.item.json.headers?.authorization || \"\";\n\nif (!authHeader.startsWith(\"Bearer \")) {\n  return [{ json: { error: \"Unauthorized\", message: \"Token ausente ou inválido.\" } }];\n}\n\nconst token = authHeader.replace(\"Bearer \", \"\").trim();\n\ntry {\n  const payloadBase64 = token.split(\".\")[1];\n  const payloadJson = Buffer.from(payloadBase64, \"base64\").toString(\"utf-8\");\n  const payload = JSON.parse(payloadJson);\n\n  const uid = payload.sub;\n  if (!uid) throw new Error(\"sub não encontrado no token\");\n\n  return [{ json: { ...($input.item.json), uid } }];\n} catch (e) {\n  return [{ json: { error: \"Token inválido\", message: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [224, 736],
      "id": "auth-validator-delete-004",
      "name": "Auth_Validator_DELETE"
    },

    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.description }}",
        "options": {
          "systemMessage": "- title: Crie um título curto, direto e acionável (ex: 'Lavar louça' em vez de 'O usuário disse que precisa lavar a louça'). Nunca peça ao usuário para definir o título.\nVocê é o Jarvis, assistente lógico para TDAH. Sua função é transformar falas em JSON para o banco de dados.\n\nRegras de Campos:\n\ntitle: Resumo direto da ação.\n\ncontexto: Onde (Trabalho, Casa, Saúde, Pessoal).\n\ntag: Sintoma ou foco (Foco Longo, Urgente, Social, Criativo).\n\ncategoria: Tipo (Tarefa, Ideia, Hábito).\n\nprioridade: (baixa, media, alta).\n\nnivel_energia: (baixa, media, alta).\n\nduracao_estimada_minutos: Inteiro (estimativa lógica de tempo).\n\nnotas: Detalhes do pedido.\n\nRetorne APENAS o JSON puro, sem textos extras."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [448, 0],
      "id": "085b7619-55c3-4b0b-b9c0-e8838d018fc2",
      "name": "Jarvis - Tasks"
    },
    {
      "parameters": {
        "jsCode": "// ─── Tasks-json_builder ──────────────────────────────────────────────────\n// userId agora vem do Auth_Validator_POST (sub do JWT Cognito), não mais fixo.\nconst uid = $('Auth_Validator_POST').first().json.uid;\nconst aiText = $input.first().json.output || $input.first().json.text || $input.first().json.response?.generations?.[0]?.[0]?.text;\n\ntry {\n    const jsonMatch = aiText.match(/\\{[\\s\\S]*\\}/);\n    if (jsonMatch) {\n        const data = JSON.parse(jsonMatch[0]);\n        return [{\n            json: {\n                userId: uid,\n                title: data.title || \"Nova Tarefa\",\n                contexto: data.contexto || \"Pessoal\",\n                tag: data.tag || \"Geral\",\n                categoria: data.categoria || \"Tarefa\",\n                prioridade: data.prioridade || \"media\",\n                nivel_energia: data.nivel_energia || \"media\",\n                duracao_estimada_minutos: data.duracao_estimada_minutos || 15,\n                status: \"todo\",\n                notas: data.notas || aiText\n            }\n        }];\n    }\n} catch (e) {\n    return [{ json: { error: \"Erro no mapeamento TDAH\", details: e.message } }];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [800, 0],
      "id": "5541d6b8-9ea1-4cca-8037-fda5872b36f5",
      "name": "Tasks-json_builder"
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "tasks",
          "mode": "list",
          "cachedResultName": "tasks"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            { "column": "userId", "value": "={{ $json.userId }}" },
            { "column": "title", "value": "={{ $json.title }}" },
            { "column": "contexto", "value": "={{ $json.contexto }}" },
            { "column": "tag", "value": "={{ $json.tag }}" },
            { "column": "categoria", "value": "={{ $json.categoria }}" },
            { "column": "prioridade", "value": "={{ $json.prioridade }}" },
            { "column": "nivel_energia", "value": "={{ $json.nivel_energia }}" },
            { "column": "duracao_estimada_minutos", "value": "={{ $json.duracao_estimada_minutos }}" },
            { "column": "status", "value": "={{ $json.status }}" },
            { "column": "notas", "value": "={{ $json.notas }}" }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [1024, 0],
      "id": "41ba5697-c747-47e5-8afa-a76c3eeebfc3",
      "name": "jarvis_db-tasks",
      "credentials": {
        "mySql": { "id": "qh4eOyGUkQ9K2kME", "name": "MySQL account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"status\": \"success\", \"message\": \"Missão cumprida!\"}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1232, 0],
      "id": "75f648f9-19e1-4a56-9a53-f5b9cc43cedb",
      "name": "Agent's-task-response"
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT * FROM tasks\nWHERE userId = '{{ $json.uid }}'\nORDER BY criadoEm DESC;",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [448, 352],
      "id": "28aac081-098a-4f2c-9d22-b757f858f12f",
      "name": "MySQL Select All",
      "credentials": {
        "mySql": { "id": "qh4eOyGUkQ9K2kME", "name": "MySQL account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [672, 352],
      "id": "5e035eef-3fa2-4ff3-98b7-bda802327c40",
      "name": "Respond List"
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE tasks \nSET \n    status = 'done', \n    custo_cognitivo_real = '{{ $json.body.custo_cognitivo_real }}', \n    sentimento_pos_conclusao = '{{ $json.body.sentimento_pos_conclusao }}', \n    duracao_real_minutos = {{ $json.body.duracao_real_minutos }},\n    completadoEm = NOW()\nWHERE id = {{ $json.body.id }}\n  AND userId = '{{ $json.uid }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [448, 544],
      "id": "d6f1624b-639a-43b1-9492-0a3b3ec0c97a",
      "name": "jarvis_db-update",
      "credentials": {
        "mySql": { "id": "qh4eOyGUkQ9K2kME", "name": "MySQL account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"sucesso\", \"mensagem\": \"Jarvis atualizou o seu progresso\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [672, 544],
      "id": "1fecf466-cfab-4346-96f3-335449707005",
      "name": "Agent's-update-notification"
    },

    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM tasks\nWHERE id = {{ $json.body.id }}\n  AND userId = '{{ $json.uid }}';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [448, 736],
      "id": "bbd6b58f-1b8b-4a15-be5f-b425243f6812",
      "name": "MySQL Delete",
      "credentials": {
        "mySql": { "id": "qh4eOyGUkQ9K2kME", "name": "MySQL account" }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "{\"status\": \"success\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [672, 736],
      "id": "f59d754c-c70f-4d64-82b7-caf47bd33059",
      "name": "Respond Delete"
    },

    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "6583810e-9aef-469a-8e66-2ffe292ded75",
              "leftValue": "={{ $json.decisao }}",
              "rightValue": "SIM",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [1120, 1024],
      "id": "799cae5b-8568-4356-bc6d-21682d898316",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1328, 976],
      "id": "fc65551f-0b4b-424a-ba0a-cd2eeb8297b4",
      "name": "NOTIFICADOR_PLACEHOLDER"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId || 'usuario_padrao' }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [544, 176],
      "id": "b7f0d91b-7458-4e6e-829b-77d324555a9b",
      "name": "Agent's Tasks_Memory"
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-lite-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [400, 144],
      "id": "73a938fc-271a-4225-ae0d-3147351b9d0b",
      "name": "Brain_gemini-flash-lite-latest",
      "credentials": {
        "googlePalmApi": { "id": "YdUc0puyYDX0fBTv", "name": "Google Gemini(PaLM) Api account" }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-flash-latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [560, 1168],
      "id": "7ed85b2b-ce11-4864-9901-645792100ddb",
      "name": "Brain_gemini-flash-latest",
      "credentials": {
        "googlePalmApi": { "id": "YdUc0puyYDX0fBTv", "name": "Google Gemini(PaLM) Api account" }
      }
    },
    {
      "parameters": {
        "rule": { "interval": [{ "field": "hours" }] }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [0, 1024],
      "id": "da84b0ce-89a1-4497-9539-aa7381534467",
      "name": "Trigger - Notifications_intelligence"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *, \n       NOW() as hora_atual, \n       DAYNAME(NOW()) as dia_da_semana \nFROM tasks \nWHERE status = 'todo';",
        "options": {}
      },
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2,
      "position": [208, 1024],
      "id": "c0094814-499a-47fd-9d9a-08799d601afb",
      "name": "jarvis_db-schedule",
      "credentials": {
        "mySql": { "id": "qh4eOyGUkQ9K2kME", "name": "MySQL account" }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.data[0].title }}",
        "options": {
          "systemMessage": "Você é o Jarvis, o Guardião Cognitivo do Bruno. Analise a lista de tarefas anexa.\n\nSua missão: Retornar um JSON decidindo se o Bruno deve ser interrompido agora.\n\nDiretrizes de Julgamento:\n\nNOTAS (SUPREMO): Procure por comandos como 'Não avise' ou 'Avisar urgente'. Isso anula qualquer outra regra.\n\nEQUILÍBRIO DE ENERGIA: Não cobre tarefas de 'esforço: alto' se o Bruno sinalizou 'nivel_energia: baixa'. Nesses casos, sugira algo leve ou silêncio.\n\nCEGUEIRA TEMPORAL: Se o prazo está no passado ou em menos de 1h, a urgência aumenta drasticamente.\n\nCONTEXTO: Se for madrugada ou fim de semana, seja 10x mais criterioso. Só interrompa se for uma 'Ação Crítica' ou pedido expresso.\n\nSaída esperada (Apenas JSON): { \"decisao\": \"SIM\" | \"NAO\", \"motivo\": \"Breve explicação do seu feeling\", \"mensagem\": \"Texto empático e direto para o Bruno caso a decisão seja SIM\" }\n\nIMPORTANTE: Sua resposta deve ser exclusivamente um objeto JSON válido. NÃO use blocos de código Markdown (como ```json). NÃO adicione texto explicativo antes ou depois do JSON. Responda apenas o objeto bruto, por exemplo: {\"decisao\": \"SIM\", \"motivo\": \"...\", \"mensagem\": \"...\"}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [608, 1024],
      "id": "df6b70f8-113e-49aa-8098-4556219272f3",
      "name": "Jarvis - Notifications Intelligence"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "jarvis_proativo"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [704, 1184],
      "id": "8f19a54b-2fe4-4744-8691-fbf6e36b7ff7",
      "name": "Agent's Notification_Memory"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "include": "specifiedFields",
        "fieldsToInclude": "title, prazo, prioridade, nivel_energia, notas, hora_atual, data_inicio_foco, dia_da_semana, completadoEm, esforco, custo_cognitivo_real, sentimento_pos_conclusao",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [416, 1024],
      "id": "58f9a888-bd46-4240-b3be-3e7f7b9ca176",
      "name": "Data_aggregator"
    },
    {
      "parameters": {
        "jsCode": "const rawOutput = $input.item.json.output;\nreturn JSON.parse(rawOutput);"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [928, 1024],
      "id": "31951441-bc5f-4f4d-8857-59d902e45542",
      "name": "Notifications_json_builder"
    },
    {
      "parameters": {
        "content": "Jarvis-task-workflow\n\n✅ Auth: Bearer Token Cognito validado em todos os endpoints\n🔐 userId dinâmico via 'sub' do JWT",
        "height": 944,
        "width": 1680
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-48, -48],
      "typeVersion": 1,
      "id": "5a7bda47-4217-4f53-ab76-792509e82499",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Jarvis-notification-workflow\n",
        "height": 368,
        "width": 1568,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [-48, 960],
      "typeVersion": 1,
      "id": "00f16992-1a2b-450a-bd09-46464e8ecc18",
      "name": "Sticky Note1"
    }
  ],
  "connections": {
    "POST /tasks (Create)": {
      "main": [[{ "node": "Auth_Validator_POST", "type": "main", "index": 0 }]]
    },
    "Auth_Validator_POST": {
      "main": [[{ "node": "Jarvis - Tasks", "type": "main", "index": 0 }]]
    },
    "GET /tasks (List)": {
      "main": [[{ "node": "Auth_Validator_GET", "type": "main", "index": 0 }]]
    },
    "Auth_Validator_GET": {
      "main": [[{ "node": "MySQL Select All", "type": "main", "index": 0 }]]
    },
    "PATCH /tasks (Update)": {
      "main": [[{ "node": "Auth_Validator_PATCH", "type": "main", "index": 0 }]]
    },
    "Auth_Validator_PATCH": {
      "main": [[{ "node": "jarvis_db-update", "type": "main", "index": 0 }]]
    },
    "DELETE /tasks": {
      "main": [[{ "node": "Auth_Validator_DELETE", "type": "main", "index": 0 }]]
    },
    "Auth_Validator_DELETE": {
      "main": [[{ "node": "MySQL Delete", "type": "main", "index": 0 }]]
    },
    "Jarvis - Tasks": {
      "main": [[{ "node": "Tasks-json_builder", "type": "main", "index": 0 }]]
    },
    "Tasks-json_builder": {
      "main": [[{ "node": "jarvis_db-tasks", "type": "main", "index": 0 }]]
    },
    "jarvis_db-tasks": {
      "main": [[{ "node": "Agent's-task-response", "type": "main", "index": 0 }]]
    },
    "Agent's-task-response": { "main": [[]] },
    "MySQL Select All": {
      "main": [[{ "node": "Respond List", "type": "main", "index": 0 }]]
    },
    "jarvis_db-update": {
      "main": [[{ "node": "Agent's-update-notification", "type": "main", "index": 0 }]]
    },
    "MySQL Delete": {
      "main": [[{ "node": "Respond Delete", "type": "main", "index": 0 }]]
    },
    "Agent's Tasks_Memory": {
      "ai_memory": [[{ "node": "Jarvis - Tasks", "type": "ai_memory", "index": 0 }]]
    },
    "Brain_gemini-flash-lite-latest": {
      "ai_languageModel": [[{ "node": "Jarvis - Tasks", "type": "ai_languageModel", "index": 0 }]]
    },
    "Brain_gemini-flash-latest": {
      "ai_languageModel": [[{ "node": "Jarvis - Notifications Intelligence", "type": "ai_languageModel", "index": 0 }]]
    },
    "Trigger - Notifications_intelligence": {
      "main": [[{ "node": "jarvis_db-schedule", "type": "main", "index": 0 }]]
    },
    "jarvis_db-schedule": {
      "main": [[{ "node": "Data_aggregator", "type": "main", "index": 0 }]]
    },
    "Data_aggregator": {
      "main": [[{ "node": "Jarvis - Notifications Intelligence", "type": "main", "index": 0 }]]
    },
    "Jarvis - Notifications Intelligence": {
      "main": [[{ "node": "Notifications_json_builder", "type": "main", "index": 0 }]]
    },
    "Notifications_json_builder": {
      "main": [[{ "node": "If", "type": "main", "index": 0 }]]
    },
    "If": {
      "main": [[{ "node": "NOTIFICADOR_PLACEHOLDER", "type": "main", "index": 0 }]]
    },
    "Agent's Notification_Memory": {
      "ai_memory": [[{ "node": "Jarvis - Notifications Intelligence", "type": "ai_memory", "index": 0 }]]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "376a592f-fa66-48a4-807f-eefaf9a8ddc8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6f8acae540a61e66b7a5866e65cb0c3802c27ed8c968f0229af9ba0b2487906e"
  },
  "id": "BquRJQdwxsuDwJOWhJq_k",
  "tags": []
}
